* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

/*estilos del Header*/

header {
    display: flex;
    margin: 0% 1%;
    align-items: center;
    flex-wrap: wrap;
}

header figure {
    flex: 1;
    min-width: 100px;
}

header figure img {
    border-radius: 10%;
}

/*estilos del header nav*/

header nav {
    flex: 9;
    min-width: 400px;
    margin-left: 5%;
    background: #ffffff;
    padding: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    margin-left: 2%;
    min-width: 1%;
    padding: 3% 2%;
}

nav ul li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 1em;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #1c0893;
    font-weight: bold;
}

nav ul li:nth-of-type(4) {
    background-color: transparent;
    padding-right: 0%;
    cursor: pointer;
}

nav ul li:nth-of-type(5) {
    background-color: transparent;
    padding-left: 0%;
    cursor: pointer;
}

/*estilos del main*/

main {

}

main>section {
    background-image: url(images/Contacto/contactanosCabecera.jpg);
    background-size: cover;
    margin-bottom: 2%;
}

main section h1 {
    flex: 5;
    font-size: 6vw;
    text-align: center;
    min-width: 300px;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px #0b091e;
    padding: 15%;
}

main article {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

main article section {
    flex: 1;
    min-width: 250px;
    border: solid 1px black;
}




/* footer*/

footer {
    margin: 0.3% 1%;
    padding: 2%;
    background-color: rgb(221, 244, 252);
    text-align: center;
}