* {
    margin: 0;
    padding: 0;
}

figure>img {
    width: 100%;
}

body {
    background-color: #d6d1d1;
    font-family: 'Roboto Condensed', sans-serif;
}

/*estilos del Header*/

header {
    display: flex;
    margin: 0% 1%;
    align-items: center;
    flex-wrap: wrap;
}

header figure {
    flex: 1;
    min-width: 200px;
}

header figure img {
    border-radius: 50%;
}

header h1 {
    flex: 5;
    font-size: 6vw;
    text-align: center;
    min-width: 400px;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px #0b091e;
}

header>video {
    width: 100%;
}

/*estilos del nav*/

nav {
    margin: 0% 1%;
    background: #ffffff;
    padding: auto;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    padding: 1.5%;
    margin: 1.5%;
    text-transform: uppercase;
    min-width: 2%;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 1em;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #1c0893;
    font-weight: bold;
}

nav ul li:nth-of-type(4) {
    background-color: transparent;
    padding-right: 0;
}

nav ul li:nth-of-type(5) {
    background-color: transparent;
    padding-left: 0;
}

/*estilos del main*/

main {
    margin: 0% 1%;
}

article:nth-of-type(even) {
    background-color: rgb(3, 3, 82);
    color: rgb(253, 252, 252);
    display: flex;
    flex-wrap: wrap;
}

article:nth-of-type(odd) {
    background: linear-gradient(to left, rgb(21, 235, 255), rgb(113, 74, 241));
    color: rgb(30, 2, 91);
    display: flex;
    flex-wrap: wrap;
}

main article p {
    text-indent: 7%;
    text-align: justify;
    flex: 1;
    min-width: 400px;
    padding: 1% 2%;
    line-height: 30px;
    align-self: center;
    letter-spacing: 1.5px;
 
}

main article figure {
    flex: 1;
    min-width: 400px;
}

main article p:first-letter {
    font-weight: bold;
    font-size: 2em;
}

article:last-of-type p {
    align-self: center;
    letter-spacing: 1.5px;
}

section {
    margin-top: 0.3%;
    margin-bottom: 0%;
}

section video {
    width: 100%;
}

section h2 {
    text-align: center;
    position: absolute;
    margin-left: 7%;
    margin-top: 10%;
    font-size: 6vw;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px #0b091e;
}

/* footer*/

footer {
    margin: 0.3% 1%;
    padding: 2%;
    background-color: rgb(221, 244, 252);
    text-align: center;
}